table {
    width:400px;
    height: 600px;
    border-collapse: collapse;
    margin: 15px auto;
    text-align: center;
    border: 20px solid #3e3e3e;
}
tr td{
    width: 20px;
    height: 20px;
    border: 10px solid #3e3e3e;
}
.backgroundBlack{
    background-color: black ;
}
.backgroundyEllow{
    background-color: yellow;
}
.backgroundBlue{
    background-color: blue;
}
.backgroundRed{
    background-color: red;
}